<h5 class="text-center">Isentia Coding Challenge Submission - Vidhu Singhal (<a href="https://github.com/vidhu-singhal/coding-challenge-isentia" target="_blank">Repo</a> | <a href="https://github.com/vidhu-singhal/coding-challenge-isentia/blob/master/README.md" target="_blank">Instructions</a> | <a href="https://drive.google.com/open?id=1xcSZTqLB-5bhgXH4tJZ7zv2Qd2sZM1th" target="_blank">Walkthrough</a>)</h5>
<h6 class="text-center">Press <kbd>Alt + S</kbd> (or click Settings icon <i class="pi pi-cog"></i> on top-right) for various demo options</h6>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>

<div class="ui-g">
  <div class="ui-g-12">
    <router-outlet #appOutlet="outlet"></router-outlet>
  </div>
</div>
