<h5 class="text-center">Isentia Coding Challenge Submission - Vidhu Singhal (vidhu.singhal@gmail.com)</h5>
<h6 class="text-center">Press <kbd>Alt + S</kbd> (or click Settings icon <i class="pi pi-cog"></i> on top-right) for various demo options</h6>

<div class="ui-g">
  <div class="content-section" [ngClass]="{'blocked': displaySettingsSidebar}">

    <i class="pi pi-cog setting-icon" pTooltip="Settings" (click)="displaySettingsSidebar=!displaySettingsSidebar"></i>

    <p-sidebar [(visible)]="displayUniqueItemTagsSidebar" position="bottom" styleClass="ui-sidebar-md">
      <ng-container *ngIf="!uniqueItemTagsSidebarEnabled; else uniqueItemTagsFieldSet"></ng-container>
    </p-sidebar>

    <ng-container *ngIf="!uniqueItemTagsFieldSetEnabled; else uniqueItemTagsFieldSet"></ng-container>

    <ng-template #uniqueItemTagsFieldSet>
      <div class="ui-g" *ngIf="uniqueItemTags?.length > 0">
        <p-fieldset legend="Tags - {{searchTags.length}} selected" [toggleable]="true">
          <mat-chip-list matPrefix [selectable]="true" [@bubbleAnimation]="uniqueItemTags.length">
            <mat-chip *ngFor="let uniqueTag of uniqueItemTags; let i=index" [selectable]="true" [removable]="true" color="accent"
                      [selected]="false"
                      [ngClass]="{'added': searchTagsContains(uniqueTag)}"
                      pTooltip="{{searchTagsContains(uniqueTag) ? 'Remove from Search' : 'Add to Search'}}" tooltipPosition="top"
                      (click)="toggleSearchTag(uniqueTag)">
              <i class="pi pi-tag"></i>
              <span>{{uniqueTag}}</span>
            </mat-chip>
          </mat-chip-list>
        </p-fieldset>
      </div>
    </ng-template>

    <p-progressBar mode="indeterminate" *ngIf="loading" [style]="{'height': '6px'}"></p-progressBar>

    <p-dataView [value]="shownFeedItems" [paginator]="true" [rows]="12" layout="grid" [loading]="loading">

      <p-header>
        <div class="ui-g">
          <div class="ui-g-3">
            <p-multiSelect *ngIf="uniqueItemTagsMultiSelectEnabled"
              [options]="uniqueItemTagsSelectItems"
              [(ngModel)]="searchTags"
              defaultLabel="Choose tags"
              selectedItemsLabel="{0} tag(s) selected"
             (onChange)="liveSearchOrFilter()"
              maxSelectedLabels="0"></p-multiSelect>

          </div>
          <div class="ui-g-6" style="position: relative">
            <div class="ui-inputgroup">
              <i class="pi pi-tags"></i>
              <p-autoComplete *ngIf="!liveSearchEnabled" [(ngModel)]="searchTags" [suggestions]="filteredItemTags" (completeMethod)="getTagsAutoCompleteSuggestions($event)"
                              (onSelect)="filterLoadedFeedItemsByTags()"
                              (onUnselect)="filterLoadedFeedItemsByTags()"
                              [minLength]="1" placeholder="Type to get tag suggestions (for loaded feed)" [multiple]="true">
                <ng-template let-searchTag pTemplate="selectedItem">
                  <div class="ui-helper-clearfix">
                    <span class="search-tag">
                      <i class="pi pi-tag"></i> {{searchTag}}
                    </span>
                  </div>
                </ng-template>
              </p-autoComplete>

              <p-chips *ngIf="liveSearchEnabled"  [(ngModel)]="searchTags"
                 [allowDuplicate]="false"
                 [addOnTab]="false" [addOnBlur]="false"
                 placeholder="Tags to live search"
                 pTooltip="Tags to live search (press Enter after each entry)"
                 tooltipPosition="top"
                 (onAdd)="liveSearch(searchTags)"
                 (onRemove)="liveSearch(searchTags)">

                <ng-template let-searchTag pTemplate="selectedItem">
                  <div class="ui-helper-clearfix">
                    <span class="search-tag">
                      <i class="pi pi-tag"></i> {{searchTag}}
                    </span>
                  </div>
                </ng-template>
              </p-chips>

              <p-button *ngIf="searchTags?.length > 0"
                  styleClass="removeAll ui-button-raised ui-button-rounded ui-button-warning"
                  icon="pi pi-times-circle"
                  pTooltip="Click to remove all tags" (click)="removeAllSearchTags()"></p-button>


              <!--<p-selectButton [options]="searchTypes" [(ngModel)]="searchType"></p-selectButton>-->

              <p-toggleButton onLabel="ANY" offLabel="ALL"
                    [(ngModel)]="isORBasedTagSearch" styleClass="alwaysOn"
                    pTooltip="Choose whether tags will be searched in ANY or ALL mode"
                    tooltipPosition="top"
                    (onChange)="changeTagMode()"></p-toggleButton>

              <button *ngIf="uniqueItemTagsSidebarEnabled" pButton type="button" label="Choose Tags"
                      class=" ui-button-info ui-button-raised animated fadeIn"
                      (click)="displayUniqueItemTagsSidebar=!displayUniqueItemTagsSidebar"></button>

            </div>

          </div>
          <div class="ui-g-3 text-right">
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </div>
        </div>
      </p-header>

      <ng-template let-item pTemplate="listItem">
        <div class="text-center">
          <app-feed-item [item]="item" [searchTags]="searchTags" (searchTagToggled)="toggleSearchTag($event)"></app-feed-item>
        </div>
      </ng-template>

      <ng-template let-item pTemplate="gridItem">
        <div class="ui-g-12 ui-md-3">
          <app-feed-item [item]="item" [searchTags]="searchTags" (searchTagToggled)="toggleSearchTag($event)"></app-feed-item>
        </div>
      </ng-template>
    </p-dataView>

  </div>

  <p-sidebar [(visible)]="displaySettingsSidebar" position="right" styleClass="ui-sidebar-md settings-sidebar">
    <div class="settings-header">This section will allow you to configure various settings for this demo</div>

    <div class="ui-g">
      <div class="ui-g-12">
        <div class="ui-g-6">
          <label for="enableUniqueItemTagsFieldSet">Enable Item Tags FieldSet</label>
        </div>
        <div class="ui-g-3">
          <p-inputSwitch [(ngModel)]="uniqueItemTagsFieldSetEnabled" id="enableUniqueItemTagsFieldSet"></p-inputSwitch>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-6">
          <label for="enableUniqueItemTagsSidebar">Enable Item Tags Sidebar</label>
        </div>
        <div class="ui-g-3">
          <p-inputSwitch [(ngModel)]="uniqueItemTagsSidebarEnabled" id="enableUniqueItemTagsSidebar"></p-inputSwitch>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-6">
          <label for="uniqueItemTagsMultiSelectEnabled">Enable Item Tags Multi-Select</label>
        </div>
        <div class="ui-g-3">
          <p-inputSwitch [(ngModel)]="uniqueItemTagsMultiSelectEnabled" id="uniqueItemTagsMultiSelectEnabled"></p-inputSwitch>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-6">
          <label for="liveSearchEnabled">Enable Live Search</label>
        </div>
        <div class="ui-g-3">
          <p-inputSwitch [(ngModel)]="liveSearchEnabled" id="liveSearchEnabled" (onChange)="liveSearchOrFilter()"></p-inputSwitch>
        </div>
      </div>
    </div>
  </p-sidebar>


</div>



