.label-tag {
  background-color: #505150;
  display: inline-block;
  margin: 1px;
  user-select: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &:hover {
    transform: scale(1.1);
    background-color: #007ad9;
  }

  &.added {
    background-color: #4CAF50;
    color: white;
  }
}

::ng-deep .ui-card-footer {
  padding-top: 1em;
  min-height: 100px;
}

.img-thumbnail {
  display: inline-block;
  height: 100%;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
