
::ng-deep p-card > div {

  &:hover {
    background: lightgray;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
  }

  img {
    &:hover {
      transform: scale(1.1);
      transition: all 300ms ease-in-out;
      z-index: 99;
    }
  }

}
